* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0;
    margin: 0;
}


/*PROVISIONAL*/

#textopequeño {
    font-size: 15px;
}

#red {
    color: #e74c3c;
}

.fa-wrench {
    color: var(--celeste);
}

.fa-globe {
    color: #2980b9;
}

.fa-bars {
    font-size: 20px;
    margin-top: -10px;
}


/* VARIABLES */

 :root {
    /* COLORES*/
    --azul: #2c3e50;
    --celeste: #4f7fff;
    --blanco: #fdfdfd;
    --parrafo: #000;
    --publicacion: #ecf0f1;
}

body {
    background-color: var(--blanco);
}


/* LINEAR GRADIENT*/

.lineargradient {
    background: linear-gradient(45deg, #F17C58, #E94584, #2980b9, #27DBB1, #FFDC18, #FF3706);
    width: 100%;
    height: 5px;
    background-size: 600% 100%;
    animation: transicioncolor 10s linear infinite;
    animation-direction: alternate;
}

@keyframes transicioncolor {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 100%;
    }
}


/* HEADER*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

 :root {
    --header-outer-height: 110px;
    --header-inner-height: 70px;
    --header-height-difference: calc( var(--header-outer-height) - var(--header-inner-height));
    --header-bg: var(--azul);
}

.responsive-wrapper {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}


/* Sticky header */

.header-outer {
    /* Make it stick */
    height: var(--header-outer-height);
    position: sticky;
    top: calc( var(--header-height-difference) * -1);
    /* Multiply by -1 to get a negative value */
    display: flex;
    align-items: center;
    /* Other */
    background-color: var(--header-bg);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.7s;
}

.header-inner {
    /* Make it stick */
    height: var(--header-inner-height);
    position: sticky;
    top: 0;
    /* Other */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Styling of other elements */

.header-logo img {
    display: block;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    color: var(--blanco);
}

.header-navigation a,
.header-navigation button {
    font-size: 1em;
    color: inherit;
    margin-left: 1.75rem;
    position: relative;
    font-weight: 500;
}

.header-navigation a {
    display: none;
    font-size: 1em;
    color: inherit;
    text-decoration: none;
}

.header-navigation button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
    transform: scalex(1);
    color: var(--celeste);
}

.header-navigation a:after {
    transition: 0.25s ease;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
    color: var(--celeste);
}

.header-navigation button:after {
    transition: 0.7s;
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentcolor;
    transform: scalex(0);
    position: absolute;
    bottom: -2px;
    left: 0;
}

.main {
    margin-top: 3rem;
}

.widget {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--blanco);
    padding: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-size: 1.125rem;
}

.widget>*+* {
    margin-top: 1.25em;
}

.widget h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
}

.centrado {
    text-align: center;
}

.widget code {
    display: inline-block;
    padding: 0.125em 0.25em;
    border-radius: 2px;
    background-color: #bee5d3;
}

.widget strong {
    font-weight: 700;
}

.redessociales {
    padding: 1em;
    margin-left: 3px;
    margin-right: 3px;
}

.fa-twitter {
    font-size: 30px;
    color: #00acee;
    margin-left: 3px;
    margin-right: 3px;
}

.fa-instagram {
    font-size: 30px;
    color: #fd1d1d;
    margin-left: 3px;
    margin-right: 3px;
}

.fa-github {
    font-size: 30px;
    color: #000;
    margin-left: 3px;
    margin-right: 3px;
}

@media (min-width: 801px) {
    .header-navigation a {
        display: inline-block;
    }
    .responsivemenu {
        display: none;
    }
}

@media (max-width: 800px) {
    .responsivemenu {
        display: inline-block;
        font-size: 20px;
        margin-top: -5px;
    }
    .fa-home,
    .fa-rocket,
    .fa-address-card,
    .fa-id-badge {
        color: var(--blanco);
        margin-right: 6px;
        margin-left: 6px;
    }
    .fa-home:hover,
    .fa-rocket:hover,
    .fa-address-card:hover,
    .fa-id-badge:hover {
        color: var(--celeste);
        transition: color 0.3s;
    }
}

@media (max-width: 900px) {
    .widget>*+* {
        margin-top: 1.25em;
        text-align: center;
    }
    .widget h2 {
        font-size: 15px;
    }
    .widget p,
    .widget p#textopequeño {
        font-size: 12px;
    }
}